@tailwind base;
@tailwind components;
@tailwind utilities;

main.index {
  @apply w-screen min-h-screen bg-green-300 overflow-hidden;
  header {
    @apply w-full flex items-center justify-center py-8;
    h1 {
      font-family: 'Rubik', sans-serif;
      @apply text-xl sm:text-2xl md:text-4xl lg:text-6xl leading-5 font-bold text-white;
    }
  }
  section.hero {
    ul {
      @apply mt-20 flex flex-col md:flex-row justify-around items-center;
      li {
        @apply flex flex-col items-center justify-center my-8 md:my-0;
        img {
          @apply w-64 h-64 sm:w-80 sm:h-80 rounded-full;
        }
        h2 {
          font-family: 'roboto-mono', sans-serif;
          @apply text-white text-2xl font-light my-4;
        }
        a:first-of-type {
          @apply no-underline font-semibold;
        }
        a {
          @apply text-white text-2xl my-4 underline;
        }
      }
    }
  }
}
